# Auto_scout project Balint - Part 1: cleaning

In [93]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [94]:
# Load the data
df = pd.read_json(r'C:\Users\BalintStewart\OneDrive - Health Data Research\Desktop\magnimind-assignments\Auto_scout\data\scout_car.json', lines=True) # lines=True reads the file as lines of JSON (one JSON object per line)

df.shape

(15919, 54)

In [95]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB
None

In [96]:
df.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

## Drop columns containing >90% missing values

In [97]:
# Find proportion of missing values for each column
percent_missing = df.isna().sum()/len(df)*100

# Select columns that have >90% missing values, drop these from the data
high_missing = percent_missing[percent_missing >90].index
df = df.drop(high_missing, axis = 1)
df.shape

(15919, 47)

In [98]:
df.isna().sum()/len(df)*100

url                           0.000000
make_model                    0.000000
short_description             0.288963
body_type                     0.376908
price                         0.000000
vat                          28.349771
km                            0.000000
registration                  0.000000
prev_owner                   42.892141
hp                            0.000000
Type                          0.012564
Previous Owners              41.711163
Next Inspection              77.793831
Inspection new               75.299956
Warranty                     34.047365
Full Service                 48.395000
Non-smoking Vehicle          54.915510
null                          0.000000
Make                          0.000000
Model                         0.000000
Offer Number                 19.944720
First Registration           10.032037
Body Color                    3.750236
Paint Type                   36.258559
Body Color Original          23.613292
Upholstery                   23.368302
Body                          0.376908
Nr. of Doors                  1.331742
Nr. of Seats                  6.137320
Model Code                   68.729192
Gearing Type                  0.000000
Displacement                  3.115774
Cylinders                    35.680633
Weight                       43.809285
Drive chain                  43.080596
Fuel                          0.000000
Consumption                  11.973114
CO2 Emission                 11.357497
Emission Class               18.977323
\nComfort & Convenience\n     5.779257
\nEntertainment & Media\n     8.631195
\nExtras\n                   18.606696
\nSafety & Security\n         6.168729
description                   0.000000
Emission Label               74.967021
Gears                        29.599849
Country version              52.346253
dtype: float64

## Tidy up column names
- Make them all lower case
- join words using underscore
- clean up col name strings (remove leaading and trailing '\n'))

In [99]:
# Clean up column names
df.columns = df.columns.str.strip().str.lower().str.replace(r'\n','').str.replace('&','_').str.replace(' ','')
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'type', 'previousowners',
       'nextinspection', 'inspectionnew', 'warranty', 'fullservice',
       'non-smokingvehicle', 'null', 'make', 'model', 'offernumber',
       'firstregistration', 'bodycolor', 'painttype', 'bodycolororiginal',
       'upholstery', 'body', 'nr.ofdoors', 'nr.ofseats', 'modelcode',
       'gearingtype', 'displacement', 'cylinders', 'weight', 'drivechain',
       'fuel', 'consumption', 'co2emission', 'emissionclass',
       'comfort_convenience', 'entertainment_media', 'extras',
       'safety_security', 'description', 'emissionlabel', 'gears',
       'countryversion'],
      dtype='object')

## Compare 'make_model' with 'make' and 'model' columns

In [100]:
dfmm = df[['make_model', 'make', 'model']]
dfmm.sample(10)

# Should I keep 'make' and 'model' as separate features or just 'make_model'? Want to avoid redundancy/multicolinearity in my training dataset.
print(dfmm.make_model.value_counts(dropna=False)) 

# Final decision: keep 'make_model' and drop 'make' and 'model' - simplifies the feauture set more than onehotencoding both 'make' and 'model'
df = df.drop(['make','model'], axis = 1)

make_model
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: count, dtype: int64