# Auto scout project Balint Part 2: dealing with missing values

In [17]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
# load in the cleaned data 
df = pd.read_csv('data/clean_auto_scout.csv')

In [19]:
df.head()

,make_model,price,previous_owners_cleaned,co2emission_cleaned_gco2/km,emissionlabel_cleaned,emissionclass_cleaned,body_cleaned,bodycolor_cleaned,km_cleaned,vat_cleaned,...,led_headlights,lane_departure_warning_system,passenger-side_airbag,power_steering,rear_airbag,side_airbag,tire_pressure_monitoring_system,traction_control,traffic_sign_recognition,xenon_headlights
0,Audi A1,15770,2.0,992.0,NaN,6,Sedans,Black,56013.0,VAT deductible,...,0,0,1,1,0,1,1,1,0,1
1,Audi A1,14500,NaN,1292.0,Green,6,Sedans,Red,80000.0,Price negotiable,...,0,0,1,1,0,1,1,1,0,1
2,Audi A1,14640,1.0,992.0,Green,6,Sedans,Black,83450.0,VAT deductible,...,0,0,1,1,0,1,1,1,0,0
3,Audi A1,14500,1.0,992.0,NaN,6,Sedans,Brown,73000.0,NaN,...,0,0,1,1,0,1,1,0,0,0
4,Audi A1,16790,1.0,1092.0,NaN,6,Sedans,Black,16200.0,NaN,...,0,0,1,1,0,1,1,1,0,1

In [26]:
# Determine columns with missing values
ols_with_mv = df.columns[df.isna().sum() > 0]
print(cols_with_mv)

Index(['previous_owners_cleaned', 'co2emission_cleaned_gco2/km',
       'emissionlabel_cleaned', 'emissionclass_cleaned', 'body_cleaned',
       'bodycolor_cleaned', 'km_cleaned', 'vat_cleaned',
       'registration_cleaned', 'hp_kw_cleaned', 'nextinspection_cleaned',
       'type_cleaned', 'offernumber_cleaned', 'warranty_months',
       'painttype_cleaned', 'interior_material', 'interior_colour',
       'nrofdoors_cleaned', 'nrofseats_cleaned', 'modelcode_cleaned',
       'gears_cleaned', 'cylinders_cleaned', 'drivechain_cleaned',
       'weight_cleaned_kg', 'displacement_cleaned_cc',
       'countryversion_cleaned', 'consumption_comb_l_per_100km',
       'consumption_city_l_per_100km', 'consumption_country_l_per_100km'],
      dtype='object')

## registration_cleaned

In [27]:
df.registration_cleaned.value_counts()

registration_cleaned
2018-03-01    695
2019-02-01    585
2018-05-01    572
2019-03-01    543
2018-04-01    541
2019-01-01    541
2018-02-01    539
2016-03-01    536
2016-04-01    532
2018-06-01    532
2018-01-01    511
2019-04-01    506
2016-02-01    472
2017-03-01    471
2016-05-01    459
2016-06-01    452
2019-05-01    440
2017-06-01    409
2017-05-01    404
2018-07-01    396
2017-04-01    380
2016-01-01    376
2017-02-01    368
2017-01-01    306
2018-08-01    285
2019-06-01    224
2017-07-01    215
2017-11-01    180
2016-07-01    176
2016-10-01    160
2017-10-01    154
2017-09-01    149
2016-11-01    142
2018-09-01    141
2016-09-01    141
2016-12-01    134
2017-12-01    123
2017-08-01    114
2018-11-01    110
2018-12-01    103
2018-10-01     97
2016-08-01     94
2019-07-01      6
2019-09-01      5
2019-08-01      1
2019-11-01      1
2019-12-01      1
Name: count, dtype: int64